body
{
background-size: cover;

}

.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#start
{
font-size: 18px;
}

#status
{
font-size: 20px;
}

#number_of_objects
{
font-size: 18px;
}

#copy_right_footer
{
position: fixed;
color: rgb(141, 221, 248);
bottom: 0;
width: 100%;
background-color: rgb(156, 141, 253);
line-height: 3;
text-align: center;
}

canvas
{
border:2px solid rgb(247, 185, 71);
border-radius: 10px;
margin-top: 140px;
box-shadow: 5px 5px 5px rgb(255, 255, 72);
}